<ion-view title="Bike Fitting" hide-back-button="true" nav-transition="none" id="page6">
  <ion-content padding="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="bikeFitting-slider2" style="width:100%;height:75%;">
      <ion-slide-page id="bikeFitting-slide29" style="background:url(&quot;img/GUbsEViKQlYbfQLeJkCf_bik.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bikeFitting-slide28" style="background:url(&quot;img/EqbrbjKHTlCaQo0rIQp5_bikefit.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="bikeFitting-slide210" style="background:url(&quot;img/vKSSCQCRBCXu7NEDzuBA_bit.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="bikeFitting-button-bar5" class="button-bar">
      <a ui-sref="newAnalysis()" id="bikeFitting-button13" style="font-weight:300;font-size:-4px;text-align:justify;" class="button button-positive button-full button-outline">New Analysis</a>
      <button id="bikeFitting-button21" class="button button-positive button-full button-outline">Weekly results</button>
    </div>
    <form id="bikeFitting-form10" class="list">
      <ion-toggle toggle-class="toggle-positive" id="bikeFitting-toggle1">Mode Bike fitting</ion-toggle>
    </form>
  </ion-content>
</ion-view>