<ion-view title="Gráficas médicas" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="grFicasMDicas-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="grFicasMDicas-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="grFicasMDicas-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="grFicasMDicas-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="grFicasMDicas-slide27" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="grFicasMDicas-form6" class="list myclass1">
      <ion-checkbox id="grFicasMDicas-checkbox1">Bajo tratamiento/Dado de alta</ion-checkbox>
    </form>
    <div id="grFicasMDicas-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">medical recommendations after discharge from the patient.</p>
    </div>
    <a ui-sref="home()" id="grFicasMDicas-button7" class="button button-positive button-block">Submit</a>
  </ion-content>
</ion-view>