<ion-view title="Home" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="home-button-bar2" class="button-bar">
      <a ui-sref="bikeFitting()" id="home-button15" class="button button-positive button-block icon ion-android-bicycle"></a>
      <a ui-sref="movementAnalysis()" id="home-button18" class="button button-positive button-block icon ion-android-walk"></a>
      <a ui-sref="medicalInformation()" id="home-button16" class="button button-positive button-block icon ion-ios-medical"></a>
      <a ui-sref="movikECommunity()" id="home-button20" class="button button-positive button-block icon ion-ios-people"></a>
      <a ui-sref="directMessage()" id="home-button17" class="button button-positive button-block icon ion-android-chat"></a>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="home-heading3" style="color:#000000;">About us</h1>
    <div id="home-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gressus App give you an interactive platform where you can be more near to our device, movik-e, a sensor system that help you to be more concern about how you feel your movements.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 430px;"></div>
  </ion-content>
</ion-view>