<ion-view title="Login" id="page2">
  <ion-content padding="true" style="background: url(img/v8na4BA3QFrU10zDJEQ7_DiseC3B1o20sin20tC3ADtulo.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 1px;"></div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email or NickName</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 251px;"></div>
      <a ui-sref="home()" id="login-button1" class="button button-dark button-block">Log in</a>
      <a ui-sref="signup()" id="login-button2" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>