<ion-view title="Movement analysis" id="page7">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="movementAnalysis-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="movementAnalysis-slide214" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="movementAnalysis-slide215" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="movementAnalysis-slide216" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="movementAnalysis-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="movementAnalysis-toggle3">Mode Movement analysis</ion-toggle>
    </form>
    <form id="movementAnalysis-form13" class="list">
      <ion-toggle toggle-class="toggle-positive" id="movementAnalysis-toggle5">Toggle</ion-toggle>
      <label class="item item-input" id="movementAnalysis-input8">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>