<ion-view title="Movik-e Community" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="movikECommunity-list3">
      <ion-item class="item-avatar item-icon-right" id="movikECommunity-list-item7">
        <img src="img/5wx6PKHSQEG8vr4O5ouu_Persona.jpg">
        <h2>Jane kashimoto</h2>
        <p>New York&gt;</p>
        <i class="icon ion-android-more-horizontal"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/ov82slL6Q7G9Pi4pCdah_evo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="movikECommunity-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Happy using my ubkey, come to see my results, im the best </p>
    </div>
    <div id="movikECommunity-button-bar4" class="button-bar">
      <button id="movikECommunity-button30" class="button button-positive button-block button-outline icon ion-android-favorite"></button>
      <button id="movikECommunity-button31" class="button button-positive button-block icon ion-chatbox"></button>
      <button id="movikECommunity-button32" class="button button-positive button-block button-outline icon ion-ios-paperplane"></button>
    </div>
  </ion-content>
</ion-view>