<ion-view title="My Device" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="myDevice-form7" class="list">
      <ion-radio id="myDevice-radio1">My ubkey</ion-radio>
      <ion-item class="item-thumbnail-left" id="myDevice-list-item6">
        <h2>Your model, Servie tag</h2>
      </ion-item>
      <label class="item item-input" id="myDevice-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <label class="item item-input" id="myDevice-textarea1">
        <span class="input-label">Battery setting</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="myDevice-range1">Carga bateria
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
    <a ui-sref="home()" id="myDevice-button19" class="button button-positive button-block">Back to home</a>
  </ion-content>
</ion-view>