<ion-view title="New Analysis" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="newAnalysis-list4">
      <div class="item item-body" id="newAnalysis-list-item-container5">
        <div id="newAnalysis-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item id="newAnalysis-list-item12">Item</ion-item>
      <ion-item class="item-divider" id="newAnalysis-list-item-divider1"> Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>