<ion-view title="Pacient information" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pacientInformation-card21">
      <ion-item class="item-avatar" id="pacientInformation-list-item3">
        <h2>PEPITO PEREZ</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="pacientInformation-list-item-container2">
        <div id="pacientInformation-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pacient feedback</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="pacientInformation-list-item4">
        <i class="icon ion-ios-medkit"></i>Assign medical diagnosis</ion-item>
      <ion-item class="item-icon-left assertive" id="pacientInformation-list-item5">
        <i class="icon ion-ios-medkit"></i>Assign medical treatment</ion-item>
    </div>
  </ion-content>
</ion-view>