<ion-view title="Signup" id="page3" style="background-color:#0A0A0A;">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input item-stacked-label" id="signup-input6">
          <span class="input-label">Nickname</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tellUsMoreAboutYou()" id="signup-button3" style="color:#FAFAFA;" class="button button-dark button-block button-outline icon-left ion-arrow-graph-up-right green">Sign up</a>
    </form>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/XXyyArkrTAbXaNAAcZV5_3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/XXyyArkrTAbXaNAAcZV5_3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/XXyyArkrTAbXaNAAcZV5_3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>