<ion-view title="Tell us more about you" id="page4">
  <ion-content padding="true" style="background: url(img/eeg4KtH6Tg6KxbsHm7o0_DiseC3B1o20sin20tC3ADtulo.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="tellUsMoreAboutYou-form3" class="list">
      <label class="item item-select myclass1" id="tellUsMoreAboutYou-select1" name="Tell more about you">
        <span class="input-label">User type</span>
        <select>
          <option>Medical User</option>
          <option>Sport trainer</option>
          <option>Pacient</option>
          <option>Athlete</option>
          <option>therapist</option>
        </select>
      </label>
    </form>
    <form id="tellUsMoreAboutYou-form9" class="list">
      <label class="item item-select myclass1" id="tellUsMoreAboutYou-select3">
        <span class="input-label">Choose device</span>
        <select>
          <option>ubkey</option>
          <option>Device2</option>
          <option>Device3</option>
          <option>Device4</option>
          <option>Device5</option>
          <option>No one</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <label class="item item-select" id="tellUsMoreAboutYou-select4">
        <span class="input-label">Interest</span>
        <select>
          <option>BikeFitting</option>
          <option>Movement analysis</option>
          <option>Running</option>
          <option>Health community</option>
          <option>Monitoring my device</option>
          <option>Medical</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 62px;"></div>
    <a ui-sref="login()" id="tellUsMoreAboutYou-button5" class="button button-dark button-block">U are ready!</a>
  </ion-content>
</ion-view>