<ion-view title="Welcome" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/C0kKYpcpQoiZCRNch6q0_Captura.PNG" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 106px;"></div>
    <a ui-sref="login()" id="welcome-button4" style="color:Stable;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block button-outline icon-left ion-ios-pulse green">Lets go!</a>
    <h1 id="welcome-heading2" style="color:#FFFFFF;text-align:center;" class="Playfair Display">Your health nearest to you, do you sense it?</h1>
    <div id="welcome-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>