$balanced: #33cd5f;
$link-color: $balanced;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
@import url('https: //fonts.googleapis.com/css?family=Playfair+Display');
.Montserrat {
	font-family: 'Playfair Display'}
.short {
	width: 40% !important;
}

.green {
	Background-color: green !important;
}

body.platform-ios {
	font-family: Montserrat, sans-serif;
}

.ionic-body.platform-ios {
	font-family: Montserrat, sans-serif;
}

body.platform-android {
	font-family: Montserrat, sans-serif;
}

.ionic-body.platform-android {
	font-family: Montserrat, sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit;
}

